/* .line-chart {
    width: 90%;
    min-width: 230px;
    height: auto;
    display: block;
    flex: none;
} */

.line-chart {
    width: calc(100% - 12px);
    min-width: 230px;
    height: auto;
    border: none;
    box-shadow: none;
    margin: 5px auto 0 0;
}

@media only screen and (max-width: 767px){
    .line-chart {
        margin: 10px 0 5px 0;
    }
}  